* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Scientific Calculator LCD", sans-serif;
}
.genDiv {
  background: #948979;
  border-radius: 10px;
  padding: 50px 50px;
}

.main {
  background-color: #DFD0B8;
}
.numm {
  position: absolute;
  top: 200px;
  left: 300px;
  /* width: 900px; */
  border: 1px solid;
  border-radius: 10px;
  background: #153448;
  padding-left: 100px;
  padding-bottom: 100px;
  padding-right: 100px;
  padding-top: 100px;
}
.he {
  color: #fff;
  position: absolute;
  top: 20px;
  font-weight: 900;
  font-style: normal;
}
.red {
  color: salmon;
  font-weight: 900;
}
.num1 {
  width: 200px;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),
    -5px -5px 15px rgba(0, 0, 0, 0.2);
  background: #DFD0B8;
  height: 50px;
  border-radius: 10px;
  padding: 20px;
  outline: none;
}
.num1::placeholder {
  font-size: 10px;
}
.opt {
  background: #000;
  color: #fff;
  outline: none;
}
.addition {
  width: 50px;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
  background: #DFD0B8;
  height: 20px;
  border-radius: 10px;
  font-size: 18px;
}
.num7 {
  width: 200px;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),
    -5px -5px 15px rgba(0, 0, 0, 0.2);
  background: #DFD0B8;
  height: 50px;
  border-radius: 10px;
  padding: 20px;
  outline: none;
}
.num7::placeholder{
    font-size: 10px;
}
.cal{
    width: 100px;
    height: 30px;
    /* padding: 20px; */
}
