*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153675, #4e0100);
    padding: 10px;
}
.todo-app{
    width: 100px;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    
}